## IDE files ###################################################################

*.iml
.idea/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

## Gradle / Kotlin / Build system ##############################################

.gradle/
build/
**/build/
local.properties
/local.properties

## Android native build ########################################################

.externalNativeBuild/
.cxx/

## Outputs #####################################################################

*.apk
*.aab
*.ap_
*.hprof

## Misc ########################################################################

.DS_Store
/captures

